.about-div {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.about-hero {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    top: 0;
    margin-top: 10%;
}

.about-hero h1 {
    font-size: 60px;
    margin: 0;
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.about-hero h4 {
    text-align: center;
    font-family: var(--primary-font);
    margin: 20px;
    width: 90%;
    font-size: 24px;
    font-weight: 100;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

#back {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 44px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
#back:hover {
    filter: drop-shadow(
    0 3px 6px rgba(247, 205, 170, 0.907)
    );
    font-size: 43.9px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    #back {
        font-size: 35px;
    }

    .about-hero h1 {
        font-size: 50px;
    }

    .about-hero h4 {
        font-size: 24px;
    }
}


@media (max-width: 775px) {
    #back {
       top: 2%;
    }

    .about-hero h4 {
        font-size: 18px;
    }
}

@media (max-width: 426px) {
    #back {
       font-size: 25px;
     }

    .about-hero {
        width: 90%;
        margin-top: 40%;
    }

     .about-hero h1 {
        font-size: 30px;
    }
 
     .about-hero h4 {
        width: 100%;
        font-size: 14px;
     }
}