.contact-hero {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    top: 0;
    margin-top: 15%;
}

.contact-hero h1 {
    font-size: 60px;
    margin: 0;
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.contact-hero h4 {
    text-align: center;
    font-family: var(--primary-font);
    margin: 20px;
    width: 90%;
    font-size: 30px;
    font-weight: 200;
}

.contact-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }