.layout-div {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.layout-hero {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    top: 0;
    margin-top: 15%;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.layout-hero h1 {
    font-size: 60px;
    margin: 0;
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.layout-hero h3 {
    font-family: var(--primary-font);
    margin: 0;
    font-size: 40px;
    font-weight: 200;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }