.stack-div {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.stack-hero {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    top: 0;
    margin-top: 7%;
}

.stack-hero h1 {
    font-size: 60px;
    margin: 0;
    font-family: var(--secondary-font);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.stack-list {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    padding-bottom: 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.grid-item {
    padding: 20px 60px 20px 60px;
    cursor: pointer;
}

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .stack-hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 775px) {
  .stack-hero h1 {
    font-size: 40px;
  }
}

@media (max-width: 620px) {
  .stack-hero h1 {
    font-size: 50px;
    margin-top: 5%;
  }

  .stack-list {
    grid-template-columns: auto auto auto;
    margin-bottom: 5%;
  }

  .grid-item {
    padding: 20px 50px 20px 50px;
  }
}

@media (max-width: 321px) {
  .stack-hero h1 {
    font-size: 40px;
    margin-top: 15%;
  }

  .grid-item {
    padding: 20px 38px 20px 38px;
  }
}