body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

p {
  position: relative;
  z-index: 0;
  opacity: 0.6;
  line-height: 1.6;
}
